body {
    display: flex;
    justify-content: center;
    left: 5vw;
    right: 5vw;
    top: 5vw;
    position: absolute;
    font-family: serif;
}

.header_rectangle {
    left: 0;
    top: 0;
    right: 0;
    height: 10vw;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.profile_image {
    position: absolute;
    width: 30vw;
    top: -5vw;
    left: -4vw;
    height: auto;
    border-radius: 50%;
    border: .9vw solid white;
    outline: .1vw solid lightgrey;
}

.profile_image_container {
    width: 100%;
    top: 10vw;
}

.header_h1 {
    margin: 1vw;
    font-size: 6.5vw;
    color: darkgray;
    text-transform: uppercase;
    display: inline-block;
}

.header_hr {
    border: 1vw solid lightgray;
    outline: none;
    margin-right: 1vw;
    width: 100%;
}

.buttons_container {
    margin-right: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid lightgray; */
    /* border-radius: 1vw; */
}

.header_button {
    font-family: sans-serif;
    font-size: 1.8vw;
    color: darkgray;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 5.5vw;
    padding: 1vw;
}

/* .header_button:first-of-type {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.header_button:last-of-type {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
} */

.header_button:hover {
    background-color: rgba(211, 211, 211, 0.235);

}

.button_content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
    /* height: 100%; */
}

nav {
    position: absolute;
    top: 30vw;
    left: 5vw;
    right: 0;
    /* border-top: 1px solid lightgray; */
}

.nav_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* hide the default list style */
    list-style-type: none;
    padding: 1vw;
    font-size: 2.5vw;
}

.main {
    position: absolute;
    top: 40vw;
    left: 5vw;
    right: 5vw;
    /* border-top: 1px solid lightgray; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    font-size: 2.5vw;
}

.containing_border {
    border: .9vw solid transparent;
    outline: .1vw solid lightgrey;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 2vw;
    bottom: 0;
    height: 95vh;
    margin-bottom: 5vh;
}